<div class="content">
{{#if errors.length}}
	<div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li> 
            {{/each}}
        </ul>
    </div>
{{else}}
	
	{{#if account}}
	<h1 style="color: white;">Account: {{account.dataValues.username}}</h1>
		{{#if account.isOwner}}
			{{#if account.dataValues.isPublic}}

                <h3 style="color: white">Change privacy of Watchlist and Favourites:</h3>
                <form method="POST" action="/accounts/privacy" style="display:inline-block;">
                    <input type="hidden" name="refUrl" value="{{ref}}">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="button is-primary">Make private</button>
                </form>
			{{else}}
                <h3 style="color: white">Change privacy of Watchlist and Favourites:</h3>
                <form method="POST" action="/accounts/privacy" style="display:inline-block;">
                    <input type="hidden" name="refUrl" value="{{ref}}">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="button is-primary">Make Public</button>
                </form>
			{{/if}}
		{{/if}}
		{{#if account.favourites.length}}
			{{#if account.watchlist.length}}
				<div class="columns">
					<div class="column is-half">
						<h1 style="color: white;">Favourites <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>:</h1>
						<ul>
							{{#each account.favourites}}
								<div class="box">
									{{dataValues.movieTitle}}
								</div>
							{{/each}}
						</ul>
					</div>
					<div class="column is-half">
						<h1 style="color: white;">Watchlist <i class="fa fa-eye" aria-hidden="true"></i>:</h1>
						<ul>
							{{#each account.watchlist}}
								<div class="box">
									{{dataValues.movieTitle}}
								</div>
							{{/each}}
						</ul>
					</div>
			{{else}}
				<div class="column is-half">
					<div class="notification is-dark mr-bottom">
						<p>No movies on watchlist yet.</p>
					</div>
				</div>
				</div>
			{{/if}}
		{{/if}}
	{{else}}
		<p>No, that account doesn't exist.</p>
	{{/if}}
	
{{/if}}
</div>