{{#if errors.length}}
    <div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li> 
            {{/each}}
        </ul>
    </div>
{{else}}
    {{#if message}}
        <div class="notification is-dark mr-bottom">
            <h2>{{message}}</h2>
        </div>
        <script>
            setTimeout(function(){
                window.location = '/'
            }, 3000)
        </script>
    {{/if}}
{{/if}}

{{#if accountId}}
    <h1 style="color: white">Are you sure you want to logout?</h1>
    <form method="POST" action="/accounts/sign-out" style="display:inline-block;">
        <input type="hidden" name="refUrl" value="{{ref}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="button is-primary">Yes</button>
    </form>
    <a class="button is-primary" href="/">No</a>
{{/if}}