{{#if errors.length}}
    <div class="notification is-danger">
        <p><strong>An issue appeared: </strong></p>
        <ul>
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{else}}
    {{#if message}}
        <div class="notification is-dark mr-bottom">
            <h2>Created review</h2>
        </div>
    {{else}}
        <h2>Create review:</h2>
        <form action="/movies/review/create" method="POST" class="sign-up">
            Review content: <input type="text" name="review" class="input" style="margin-bottom: 15px;"><br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="movieId" value="{{movieId}}"
            <input type="submit" value="login!" class="button sign-up-button">
        </form>
    {{/if}}
{{/if}}