{{#if movies.length}}
<!--    <ul>-->
        {{#each movies}}
            <div class="box">

                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{image}}" alt="movie poster" height="64">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{fullTitle}}</strong> <span>IMDB: {{imDbRating}}</span>
                                    {{#if this.isFavourited}}
                                        <span class="icon" style="float:right; color: #00d1b2;">
                                            <a href="/movies/favourite/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-up"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/favourite/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                        </span>
                                    {{/if}}

                                    {{#if this.isWatchlisted}}
                                        <span class="icon" style="float:right; color:#00d1b2;">
                                            <a href="/movies/watchlist/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/watchlist/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                    {{/if}}
                                <br>


                            </p>
                            <div class="limit-text js-modal-trigger" data-target="modal-js-{{id}}">{{plot}}</div>

                        </div>
                    </div>
                </article>
            </div>
            <div class="modal" id="modal-js-{{id}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="{{image}}">
                                    </figure>
                                </div>
                                <div class="media-content">

                                    <strong>{{title}}</strong>
                                    {{#if this.isFavourited}}
                                        <span class="icon" style="float:right; color: #00d1b2;">
                                            <a href="/movies/favourite/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-up"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/favourite/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                        </span>
                                    {{/if}}

                                    {{#if this.isWatchlisted}}
                                        <span class="icon" style="float:right; color:#00d1b2;">
                                            <a href="/movies/watchlist/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/watchlist/{{id}}/{{fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                    {{/if}}
                                    <p>year: {{year}}</p>
                                    <p>IMDB: {{imDbRating}}</p>
                                </div>
                            </div>
                            <div class="content">

                                <ul>
                                    <li>directed by: {{directors}}</li>
                                    <li>actors: {{stars}}</li>
                                    <li>genres: {{genres}}</li>
                                </ul>
                                <i>{{plot}}</i>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
        {{/each}}
{{else}}
    <p>No movies</p>
{{/if}}