{{#if movies.length}}
<!--    <ul>-->
        {{#each movies}}
            <div class="box">

                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{dataValues.image}}" alt="movie poster" height="64">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{dataValues.fullTitle}}</strong> <span>IMDB: {{dataValues.imDbRating}}</span>

                                    {{#if this.isFavourited}}
                                        <span class="icon" style="float:right; color: #00d1b2;">
                                            <a href="/movies/favourite/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-up"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/favourite/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                        </span>
                                    {{/if}}

                                    {{#if this.isWatchlisted}}
                                        <span class="icon" style="float:right; color:#00d1b2;">
                                            <a href="/movies/watchlist/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/watchlist/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                    {{/if}}
                                <br>


                            </p>
                            <div class="limit-text js-modal-trigger" data-target="modal-js-{{dataValues.id}}">{{dataValues.plot}}</div>

                        </div>
                    </div>
                </article>
            </div>
            <div class="modal" id="modal-js-{{dataValues.id}}">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="{{dataValues.image}}">
                                    </figure>
                                </div>
                                <div class="media-content">

                                    <strong>{{dataValues.title}}</strong>

                                    {{#if this.isFavourited}}
                                        <span class="icon" style="float:right; color: #00d1b2;">
                                            <a href="/movies/favourite/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-up"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/favourite/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                        </span>
                                    {{/if}}

                                    {{#if this.isWatchlisted}}
                                        <span class="icon" style="float:right; color:#00d1b2;">
                                            <a href="/movies/watchlist/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </span>
                                    {{else}}
                                        <span class="icon" style="float:right;">
                                            <a href="/movies/watchlist/{{dataValues.id}}/{{dataValues.fullTitle}}" style="color: inherit;">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                    {{/if}}
                                    <p>year: {{dataValues.year}}</p>
                                    <p>IMDB: {{dataValues.imDbRating}}</p>
                                </div>
                            </div>
                            <div class="content">

                                <ul>
                                    <li>directed by: {{dataValues.directors}}</li>
                                    <li>actors: {{dataValues.stars}}</li>
                                    <li>genres: {{dataValues.genres}}</li>
                                </ul>
                                <i>{{dataValues.plot}}</i>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
        {{/each}}
{{else}}
    <p>No movies</p>
{{/if}}